# Backend (apps/api)
VERCEL_AI_GATEWAY_API_KEY=
FRONTEND_URL=http://localhost:5188
ALLOWED_ORIGINS=http://localhost:5188
DOCUMENT_ID=constituicao
APP_HOST_DOCUMENT_MAP=api.chatconstituicao.pt:constituicao,api.chatcodigocivil.pt:codigo-civil
APP_HOST_FRONTEND_MAP=api.chatconstituicao.pt:https://chatconstituicao.pt,api.chatcodigocivil.pt:https://chatcodigocivil.pt

# Frontend (apps/web)
VITE_API_URL=http://localhost:3088
VITE_DOCUMENT_ID=constituicao
